@model IEnumerable<CuaHangDoAn.Models.AppUser>

<h1 class="text-center">Trang quản tài khoản</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Email)
            </th >
            <th class ="col-6">
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
                <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Email)
            </td>
                    <td style="word-break: break-all;">
                        @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                        <a asp-action="Addrole" class="btn btn-info" asp-controller="role" asp-route-id="@item.Id">Thay đổi Role</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
