@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/AdminAsset/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/AdminAsset/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="~/ class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/AdminAsset/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Your Social Campaigns</p>
                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="mb-3">
                                        <label asp-for="Input.Email" for="exampleInputtext1" class="form-label">Name</label>
                                        <input asp-for="Input.Email" type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.Password" for="exampleInputtext1" class="form-label"></label>
                                        <input asp-for="Input.Password" type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.ConfirmPassword" for="exampleInputtext1" class="form-label" autocomplete="new-password" aria-required="true"></label>
                                        <input asp-for="Input.ConfirmPassword" type="text" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <button type="submit"   class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                        <a class="text-primary fw-bold ms-2" asp-controller="Account" asp-action="Login">Sign In</a>
                                    </div>
                                </form>
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <section>
                            <h3>Use another service to register.</h3>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>

                </div>
            </div>
        </div>

       
    </div>
    <script src="~/AdminAsset/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/AdminAsset/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>


